.answer_box {
  border: 1px solid gray;
  width: 190px;
  height: 90px;
  border-radius: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.answer__content {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}

.answer_item {
  display: flex;
}

.correct_answer_block {
  background-color: #80ff8021;

}

.answer_image {

}

.default_answer_block {
  font-size: 36px;
  text-align: center;
}

.wrongBg {
  background-color: #ff8080a3;
}