.answer_box {
  border: 1px solid gray;
  width: 190px;
  height: 90px;
  border-radius: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
}

.answer__content {
  display: flex;
  justify-content: column;
  flex-wrap: wrap;
}

.answer_item {
  display: flex;
}

.answer_image {
  position: relative;
  height: 80px;
  width: 80px;
}

.default_answer_block {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 36px;
  text-align: center;
}

.default_answer_block:hover {
  cursor: pointer;
  color: blueviolet;
}

.wrongBg {
  background-color: #ff8080a3;
}

.correctBg {
  background-color: #80ff804f;
}