img {
  width: 400px;
  height: 300px;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style-type: none;
}

.mainBg {
  min-width: 100dvw;
  min-height: 100dvh;
  background: url("../../img/pictures/mainBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}
