.header {}

.achievementsLink {
  text-decoration: none;
  color: inherit;
}

.ul__header {
  position: relative;
  padding: 0;
  margin: 0;
  height: 200px;
}

.mycloud,
.mycloud2,
.mycloud3 {
  animation: move 6s ease infinite;
  margin-top: 30px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  height: 120px;
  width: 100px;
  box-shadow: #fff 65px -15px 0 -5px,
    #fff 25px -25px,
    #fff 30px 10px,
    #fff 60px 15px 0 -10px,
    #fff 85px 5px 0 -5px;
}

.mycloud {
  top: 10%;
  left: 12%;
  animation-duration: 6s;
}

.mycloud2 {
  top: 12%;
  left: 45%;
  animation-duration: 7s;
}

.mycloud3 {
  top: 9%;
  left: 77%;
  animation-duration: 8s;
}

.mycloud__text {
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 50px;
  color: #6161a9;
  z-index: 1;
}

.mycloud__text2 {
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 10px;
  color: #6161a9;
  z-index: 1;
}

.mycloud__text3 {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 45px;
  color: #6161a9;
  z-index: 1;
}

@keyframes move {
  50% {
    transform: translateX(-30px);
  }
}